In [1]:
from deta import Deta

In [6]:
DETA_KEY = "a0vy4sdci48_rGQywvgrvT5qMRYYkzikUmJBeQjThDWB"

deta = Deta(DETA_KEY)

# This how to connect to or create a database.
db = deta.Base("incomeTracker")

In [7]:
def insert_period(period, incomes, expenses, comment):
    """Returns the report on a successful creation, otherwise raises an error"""
    return db.put({"key": period, "incomes": incomes, "expenses": expenses, "comment": comment})

def fetch_all_periods():
    """Returns a dict of all periods"""
    res = db.fetch()
    return res.items

def get_period(period):
    """If not found, function will return None"""
    return db.get(period)

In [8]:
# Example Data
period = "2022_April"
comment = "Some comment"
incomes = {'Salary': 1500, 'Blog': 50, 'Other Income': 10}
expenses = {'Rent': 600, 'Utilities': 200, 'Groceries': 300,
            'Car': 100, 'Other Expenses': 50, 'Saving': 10}

In [9]:
insert_period(period, incomes, expenses, comment)

{'comment': 'Some comment',
 'expenses': {'Car': 100,
  'Groceries': 300,
  'Other Expenses': 50,
  'Rent': 600,
  'Saving': 10,
  'Utilities': 200},
 'incomes': {'Blog': 50, 'Other Income': 10, 'Salary': 1500},
 'key': '2022_April'}

In [10]:
fetch_all_periods()

[{'comment': 'Some comment',
  'expenses': {'Car': 100,
   'Groceries': 300,
   'Other Expenses': 50,
   'Rent': 600,
   'Saving': 10,
   'Utilities': 200},
  'incomes': {'Blog': 50, 'Other Income': 10, 'Salary': 1500},
  'key': '2022_April'}]

In [11]:
get_period("2022_April")

{'comment': 'Some comment',
 'expenses': {'Car': 100,
  'Groceries': 300,
  'Other Expenses': 50,
  'Rent': 600,
  'Saving': 10,
  'Utilities': 200},
 'incomes': {'Blog': 50, 'Other Income': 10, 'Salary': 1500},
 'key': '2022_April'}